<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/../css/style.css" type="text/css"/>
<script type="text/javascript" src="/../js/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>

    <div id="Konamicontainer" class="element">
        
    </div>


<div class="wrapper">
    <header class="header">
        <img src="/images/moped.png" class='logo'/> 
        <div id="title">FUTURE STATE DEMO: <%=title%></div>
    </header>
    <div class="horizontalLine"></div>
    <div class="subMenuBar">
        <div class="menuButtonContainer">
            <div class="subMenuButton" onclick="window.location.href='/'">Home</div>    
        </div>
        
    </div>
    <section class="content">
        <div class="columns">
            